*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
.card {
  background:white;
  margin-bottom:10px;
  border-radius:8px;
  padding:10px;
   justify-content: center; /* Tengah horizontal */
    align-items: center;    
}
button {
  padding:8px 12px;
  border:none;
  border-radius:5px;
  margin-top:5px;
}
.btn { background:#2ecc71; color:white; }
.btn-red { background:#e74c3c; color:white; }
input, textarea {
  width:50%;
  padding:8px;
  margin:5px 0;
}
.img-produk {
  width: 10%;
  height: 120px;
  object-fit: cover;
}

.hidden { display:none; }
  nav{
  float: left;
  width: 15%;
  height: 3000px; 
background-color: lightgray;
  padding: 30px;
  }
  
  nav ul{
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    text-decoration: none;
    line-height: 2.5;
    color: rgba(5, 5, 5, 0.83);
    font-weight: bold;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  li a:hover{
    color: red;
  }
  
  h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
  }
  h2{
 text-align: center; 

  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  
  